html {
  max-width: 50em;
  margin: 0 auto;
  padding: 10px;
  font-family: Avenir Next, Helvetica, sans-serif;
}

h1,
h2,
h3,
#main-info {
  font-weight: 300;
}

#main-info {
  font-size: 1.5em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #2277cb;
}

a:hover {
  font-style: italic;
}

input[type=text], select {
  width: 100%;
  padding: 0px 0px 12px 0px;
  margin: 0px 0 20px 0;
  display: inline-block;
  border: 0px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
}

input[type=text]:focus {
    outline-width: 0;
}

.submit {
  background-color: rgb(255,255,255);
  padding: 6px;
  margin: -12px 0 0px 0;
  display: inline-block;
  border: 1px;
  border-radius: 1px;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  border: 2px solid #2277cb;
}

.submit:hover {
  background-color: rgb(243, 239, 239);
}

#everything {
    // filter: blur(2px);
}

.banner {
    max-width: 40em;
    width:100%;
    position: absolute !important;
    top: 20%!important;
    left: 30%!important;
    margin: 0!important;
    -ms-transform: translateY(-50%)!important;
    transform: translateY(-50%)!important;
    filter: blur(0px)!important;
}

